@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kode+Mono:wght@400..700&family=Lobster&display=swap');
body{
  background-color: rgb(206, 134, 0);
}
.img_mugiwara{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    margin-left: 200px;
    gap: 30px;
}
.img_mugiwara img{
  width: 100%;
  height: 100%;
  border: 5px solid black;
  
}
li{
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
}
p{
  font-family: "Caveat", cursive;
  font-size: 25px;
}
h1,h2{
  font-family: "Lobster", sans-serif;
  font-size: 3rem;
  font-weight: 400;
}
.sunny2{
  text-align: center;
  color: rgb(10, 121, 136);
}
.pushinp{
  text-align: center;
}
.tete{
  text-align: center;
}
.sunny{
  text-align: center;
}
.titre_gorosei{
  color: rgb(163, 161, 161);
  text-align: center;
}
.titre_yonko{
  text-align: center;
}
.blackbeard{
     width: 400px;
     height: 10px;
}
.shanks{
  border: 5px solid rgba(248, 77, 77, 0.571);
  width: 500px;
  margin-left: 400px;
  border-radius: 20px;
}
#shankse .centre{
     text-align: center;
}
.black{
  margin-left: 450px;
  height: 350PX;
  width: 400px;
  border: 5px solid black;
  background-color: rgba(11, 13, 15, 0.571);
  border-radius : 20px;
}
.baggy{
  margin-left: 450px;
  height: 400PX;
  width: 400px;
  border: 5px solid #EED105;
  background-color: rgba(255, 181, 45, 0.829);
  border-radius: 20px;
}
.luffy{
  margin-left: 450px;
  height: 400PX;
  width: 400px;
  border: 5px solid purple;
  background-color: rgba(254, 254, 254, 0.650);
  border-radius: 20px;
}
#gorosei .gouver{
  border: 5px solid blue;
  border-radius: 20px;
  margin-left: 450PX;
  width: 60%;
  margin-left: 250px;
}
.amiraux{
  display: grid;
}
.amiraux img{
  height: 150px;
  width: 200PX;
}
.amiral-chef{
  display: flex;
  justify-content: center;
}
.amiraux > img{
  justify-self: center;
}
#shankse .titre_yonko{
  color: red;
}
#baggy_le_clown .titre_yonko{
    color: #EED105;
}
#luffy-empereur .titre_yonko{
     color: white;
}


