/*----------------------HAUT DE PAGE-----------------------*/
header{
    position: sticky;
    top: 0;
    z-index: 999;
}

.part1header{
    background-color: #dd7b19;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#chapeau_de_paille{
    border-right: 2px solid black;
    width: 10%;
    height: 10%;
    max-width: 40%;
    max-height: 40%;
    height: fit-content;

}

#img_titre{
    width: 40%;
    height: 40%;
    padding-left: 60px;
}

/*----BARRE DE RECHERCHE----*/

input{
    border-radius: 20px;
    margin-right: 1%;
    padding: 5px 5px 3px;
    border: 2px solid black;
    width: 12%;
}


hr{
    border-style: none;
    background-color: black;
    height: 2px;
    margin:0%;
}

.part2header{
    background-color: #e2b753ef;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a{ 
    color: inherit; 
} 

.part2header i{
    color: #ffffff;
} 

/*----------------------MILIEU DE PAGE-----------------------*/

body{
    margin: 0%;
    background-color:  #ffebc5;
}

.section1{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.divactualite {
    margin-left: 2.5%;
    width: 100%;
}

.actualités{
    border-radius: 5px;
    border: 2px solid black;
    height: fit-content;
    width: 100%;
    margin: 2px;
    margin-top: 20px;
    line-height: 20px;
}

.nextsorties{
    margin: 0%;
}

.titreactus{
    text-decoration: underline;
    padding-right: 10px;
}

.actus{
    width: fit-content;
    margin-bottom: 2%;
}


.bountygoldroger{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    min-width: 40%;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
}

.imgbountygrg{
    border: 2px solid black;

}

.articlegoldroger {
    margin-right: 2.5%;
}

.txtgoldroger{
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.007);
    /* margin-left: 20%; */
    margin-top: 20px;
    padding: 5px;
    /* margin-right: 20%; */
    max-width: 100%;
    height: fit-content;
    border: 2px solid black;
}

.titregoldroger{
    text-decoration: underline;
    margin-top: 0%;
}

@media (max-width: 768px){
    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input{
        width: 25%;
    }

    .bountygoldroger{
        margin-top: 15px;
    }

    .actualités{
        margin: 0%;
        width: 50%;
    }

    video{
        width: 25%;
    }

    .listecontacts{
        font-size: 10px;
    }
}

video{
    width: 100% ;
    margin-top: 20px;
    margin-bottom: 20px;
}

p{
    width: auto;
}

.section2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 0%;
}

.phraseluffy{
    text-align: center;
    margin-top: 0%;
}

/*----------------------BAS DE PAGE-----------------------*/

footer{
    display: flex;
    justify-content:space-between;
    background-color: #dd7a19;
}

.contacteznous{
    display: flex;
    align-items: center;
}



.listecontacts{
    display: flex;
    margin-top: 0%;
    flex-direction: column;
    text-align:center;
}

.titrecontacts{
    margin: 0%;
    text-decoration: underline;
}

.iconescontacts {
    display: flex;
    list-style-type: none;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    color: #ffffff;
    padding: 0%;
    margin-bottom: 5px;
    margin-top: 5px;
}

