@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body{
	margin: 0;
	color: white;
	background-color: #262627;
}

main p{
	font-family: caveat;
	font-weight: 700;
	font-size: 20px;
}

main h1{
	text-shadow: 2px 1px #dd7b19;
}

.box{
	padding: 15px;
	margin-left: 220px;
	top: 160px;
}

.box hr{
	margin: 20px 0px 0px 0px;
	height: 3px;
}

.breaker{
	height: 20px;
	background: radial-gradient(50% 100% at 50% 100%,#dd7b19 0,rgba(30,84,183,0) 90%);
	transform: matrix(1,0,0,-1,0,0);
}
/*-----------------------------HEADER-------------------------------------*/
/*----------------------HAUT DE PAGE-----------------------*/
header{
    position: sticky;
    top: 0;
    z-index: 999;
}

.part1header{
    background-color: #dd7b19;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#chapeau_de_paille{
    border-right: 2px solid black;
    width: 10%;
    height: 10%;
    max-width: 40%;
    max-height: 40%;
    height: fit-content;

}

#img_titre{
    width: 40%;
    height: 40%;
    padding-left: 60px;
}

/*----BARRE DE RECHERCHE----*/

input{
    border-radius: 20px;
    margin-right: 1%;
    padding: 5px 5px 3px;
    border: 2px solid black;
}


hr{
    border-style: none;
    background-color: black;
    height: 2px;
    margin:0%;
}

.part2header{
    background-color: #e2b753ef;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a{ 
    color: inherit; 
} 

.part2header i{
    color: #ffffff;
} 

/*-----------------Menu---------------*/

.menu{
	display: flex;
	position: sticky;
	top: 160px;
	flex-direction: column;
	background-color: #3d3a34;
	width: 220px;
	height: 100vh;
	border-right: 2px solid black;
	color: white;
}

.menu ul{
	margin: 2px;
}

.menu hr{
	margin: 0;
	height: 3px;
	width: 85%;
	align-self: center;
}

.menu h2{
	text-align: center;
	margin: 0;
	text-shadow: 2px 2px #dd7b19;
}

.menu li{
	list-style-type: square;
	width: 100%;
}

.menu a{
	text-decoration: none;
	padding: 5px 0;
	width: 100%;
	display: inline-block;
}

.depliant{
	display: none;
	background-color: #666464;
	border-bottom: 2px solid black;
	text-align: center;
}

/*---------------------BOUTON-Haut-de-page-----------------------------*/

.haut-de-page{
	scroll-margin-top: 130px;
}

.top-arrow{
    display: flex;
    position: fixed;
    z-index: 90;
    width: 100px;
    bottom: 60px;
    margin-bottom: 0%;
    right: 0%;
}

.top-arrow:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
}

/*------------Media Queries--------------*/
@media (max-width: 1024px){
	.depliant{
		display: block;
		border: 1px solid black;
	}

	.nav{
		height: 130px;
	}

	.menu{
		display: none;
	}

	#menu:target{
		display: flex;
		height: 100vh;
	}

	.box{
		margin-left: 0;
	}

	#menu:target + .box{
		margin-left: 220px;
	}

	.closemenu{
		width: 75%;
		height: 100%;
		position: absolute;
		display: block;
	}

	.breaker{
		margin-bottom: 80px;
	}

	.menu{
		justify-content: center;
	}

	.menu hr{
		margin-top: 80px;
	}

	section{
		scroll-margin-top: 130px;
	}

	h2{
		scroll-margin-top: 130px;
	}

	.Alabasta, .Skypiea, .Enies-Lobby, .Dressrosa, .Wano-Kuni{
		scroll-margin-top: 130px;
	}

	.top-arrow{
        width: 50px;
    }

}

/*-------------------FOOTER----------------------------------------*/

/*----------------------BAS DE PAGE-----------------------*/

footer{
    display: flex;
    justify-content:space-between;
    background-color: #dd7a19;
    align-items: center;
}

/*----------------------BAS PARTIE CONTACT-----------------------*/ 

.contacteznous{
    display: flex;
    align-items: center;
    margin-left: 8px;
}

/*----------------------BAS COPYRIGHT-----------------------*/ 

@media(max-width: 768px){
    .copyright{
        font-size: 80%;
    }
}

@media(max-width: 450px){
    .copyright{
        font-size: 50%;
    }
}

@media(max-width: 376px){
    .copyright{
        text-align: center;
        font-size: 1%;
    }
}

.listecontacts{
    display: flex;
    margin-top: 0%;
    flex-direction: column;
    text-align:center;
    justify-content: center;
}

/*----------------------BAS TITRE LIENS-----------------------*/ 

.titrecontacts{
    margin-bottom: 0%;
    margin-right: 5%;
    text-decoration: underline;
    color: white;
}

/*----------------------BAS ICONES LIENS-----------------------*/ 

.iconescontacts {
    display: flex;
    list-style-type: none;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    color: #ffffff;
    padding: 0%;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 8px;
}