
body{
	background-color: #ffbf00;
}

main{
	background-color: #eabc60;
	margin: 5%;
	padding: 15px;
	border: 1px solid black;
	border-radius: 10px;
}

.grille img{
	width: 270px;
	height: 200px;
	border: 2px solid black;
	border-radius: 20px;
}

.grille{
	display: grid;
	grid-template-columns: 270px 270px;
	justify-content: center;
	gap: 20px;
}

.mers h1{
	text-align: center;
}

.mers{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.worldmap{
	width: 70%;
	height: 70%;
	border: 2px solid black;
	border-radius: 10px;
}

/*-----------------------Iles-------------------------*/

.Alabasta{
	background: url(../img/alabasta.jpg);
}

.Skypiea{
	background: url(../img/skypiea.jpg);
}

.Enies-Lobby{
	background: url(../img/enies-lobby.jpg);
}

.Dressrosa{
	background: url(../img/dressrosa.jpg);
}

.Wano-Kuni{
	background: url(../img/wano.jpg);
}

.Alabasta, .Skypiea, .Enies-Lobby, .Dressrosa, .Wano-Kuni{
	background-size: cover;
	border: 2px solid black;
	border-radius: 10px;
	display: flex;
}

/*-------------------------------------------------------*/

.iles{
	color: white;
}

.ile1{
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px dashed black;
	border-radius: 10px;
}

.ile1 p{
	font-weight: bold;
}

.ile2{
	display: flex;
	justify-content: space-evenly;
}

.ile2 img{
	width: 100px;
	height: 100px;
	border-radius: 75px;
}